*{margin:0;
    padding: 0;
}

#background-image{
    background-image: url('img/stationaries.jpg');
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 5;
    overflow:visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header, div, ol{
    font-family: sans-serif;
    font-size: 3vh;
    line-height: 2;
}

#introduction {
    background-color: teal;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100vw;
    padding: 5px;
    border-top: 5px solid green;
    
}

header p{
    font-size: 10vh;
    color:white;
    margin-left: 2%;
}

a{
    color: white;
    margin-right: 3%;
    margin-left:2% ;
}
.about-us{
    margin-top: 10%;
}

.container{
    margin-top: ;
    padding:0;

}
