body{
    margin:0;
    padding:0;
    background-color: rgba(209, 215, 215, 0.247);
}
#background-image{
    background-image: url('img/stationaries.jpg');
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 5;
    overflow:visible;
    background-size: cover;
    background-repeat: no-repeat;
}

header, div {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 2;
    word-spacing:0.5px;
}

#introduction {
    background-color: teal;
    position: fixed;
    width:100vw;
    top: 0;
    overflow: hidden;
    padding-bottom: 3px;
    border-top: 20px solid green;
   
}

header p{
    font-size:150%;
    color:white;
    margin-left: 30px;
}

a{
    color:whitesmoke;
    margin-right: 50px;
    margin-left:20px;
    text-decoration: none;
}

.container{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    column-gap: 20px;
}

.description{
    text-align: justify;
    max-width: 100%;
    margin-left: 1%;
    margin-right: 2px;
    padding:25px;
    box-shadow: 3px 3px 3px 3px burlywood;
}
.description h2{
    text-align: center;
}

.image-gallery{
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    background-color: white;
}
div img{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    margin-left: 40px;
    margin-right: 10px;
    padding: 10px;
    box-shadow:3px 3px 3px 3px rgb(186, 176, 176);
    border-radius: 5px;
    margin-bottom: 30px;
    
}
