body{
    margin:0;
    padding:0;
    background-color: rgba(209, 215, 215, 0.247);
}
#background-image{
    background-image: url('img/stationaries.jpg');
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 5;
    overflow:visible;
    background-size: cover;
    background-repeat: no-repeat;
}

header, div, ol{
    font-family: sans-serif;
    font-size: 100%;
    line-height: 2;
    word-spacing:0.5px;
}

#introduction {
    background-color: teal;
    position: fixed;
    width:100vw;
    top: 0;
    overflow: hidden;
    padding-bottom: 3px;
    border-top: 20px solid green;
    
}

header p{
    font-size:150%;
    color:white;
    margin-left: 40px;
}

a{
    color:whitesmoke;
    margin-right: 50px;
    margin-left:30px;
    text-decoration: none;
}

.container{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    column-gap: 5px;
}

.description{
    text-align: justify;
    width:33.3%;
    margin-left: 2%;
    margin-right: 6px;
    padding:20px;
    box-shadow: 3px 3px 3px 3px burlywood;
}
.description h2{
    text-align: center;
}

.image-gallery{
    display:flex;
    background-color: white;
}
div img{
    width: 300px;
    height: 300px;
    column-gap: 20px;
    margin-top: 10%;
    margin-left: 30px;
    margin-right: 10px;
    box-shadow:3px 3px 3px 3px rgb(186, 176, 176);
    border-radius: 5px;
    
}
